<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration form</title>
</head>
<body>
	<h1>Registration Form</h1>
	<form th:action = "@{/insertData}" method="post">
	<label for="name">Name</label><br>
	<input type="text" id=name name="name" placeholder="Enter name"><br>
	<label for="age">Age</label><br>
	<input type="number" id=age name="age" placeholder="Enter your age"><br>
	<label>Select your Gender</label><br>
	<input type="radio" name="gender" value="Male" id="male">
	<label for="male">Male</label><br>
	<input type="radio" name="gender" value="Female" id="female">
	<label for="female">Female</label><br>
	<input type="radio" name="gender" value="others" id="others">
	<label for="others">Others</label><br>
	<label for="email">Email</label><br>
	<input type="email" id="email" name="email" placeholder="Enter your email address"><br><br>
	<label for="country">Country</label>
	<select id="country" name="country">
		<option value="Singapore ">Singapore</option>
		<option value="Japan">Japan</option>
		<option value="Korea">Korea</option>
		<option value="China">China</option>
		<option value="Thailand">Thailand</option>
	</select>
	<br><br>
	<input type="submit" value="Register">
	</form>
	<br><br><br>
	<h2>User Data Table</h2>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Email</th>
			<th>Country</th>
		</tr>
		<tr th:each="UserData : ${datalist}">
			<td th:text="${UserData.name}"></td>
			<td th:text="${UserData.age}"></td>
			<td th:text="${UserData.gender}"></td>
			<td th:text="${UserData.email}"></td>
			<td th:text="${UserData.country}"></td>
			<td><a th:href="@{/update/{id}(id=${UserData.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${UserData.id})}">Delete</a></td>
			
		</tr>
	</table>
</body>
</html>